.app-container{
  border: 7px double black;
  margin: 10px;
  border-radius: 20px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.app-heading{
  text-align: center;
  font-size: 40px;
  margin: 0%;
}

.profile-container{
  text-align: center;
  filter: drop-shadow(5px 5px 4px rgb(0, 0, 0));
}

.profile{
  width: 200px;
  margin: 20px;
}